<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<a href="/mypage/change-info">돌아가기</a>
<div class="form-container">
    <h1>회원 정보 수정</h1>
    <form action="/members/new" method="post" th:object="${passwordForm}">

        <div th:if="${hasException}">
            <p style="color:red;"><a th:text="${exception}"></a></p>
        </div>

        <!-- 현재 비밀번호 입력 -->
        <input type="password" th:field="*{oldPassword}" id="oldPassword" name="oldPassword" class="form-control" placeholder="현재 비밀번호를 입력하세요" required>
        <div th:if="${#fields.hasErrors('oldPassword')}">
            <p style="color:red;"><a th:errors="*{oldPassword}"></a></p>
        </div>

        <!-- 변경할 비밀번호 입력 -->
        <input type="password" th:field="*{newPassword}" id="newPassword" name="newPassword" class="form-control" placeholder="변경할 비밀번호를 입력하세요" required>
        <div th:if="${#fields.hasErrors('newPassword')}">
            <p style="color:red;"><a th:errors="*{newPassword}"></a></p>
        </div>

        <!-- 변경할 비밀번호 확인 -->
        <input type="password" th:field="*{newPassword}" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" placeholder="비밀번호를 재입력하세요" required>
        <div th:if="${#fields.hasErrors('newPasswordConfirm')}">
            <p style="color:red;"><a th:errors="*{newPasswordConfirm}"></a></p>
        </div>

        <!-- 등록 버튼 -->
        <button type="submit">변경하기</button>
    </form>
</div>
</body>
</html>